<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>User Registration</title>
</head>
<body>
<h2>User Registration</h2>
<form action="#" th:action="@{/registration}" th:object="${user}" method="POST">
  <div>
    <label for="name">Username:</label>
    <input type="text" id="name" th:field="*{username}" required autofocus/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
</body>
</html>
